
@{
    ViewBag.Title = "Breakfast Order";
    Layout = null;
    Html.EnableClientValidation(false);
}

<h1>Breakfast order</h1>

@using (Html.BeginForm())
{
    <p>Your name: @Html.TextBox("fullname")</p>
    <p>Room number: @Html.TextBox("roomnumber")</p>

    <p>
        What would you like for breakfast?<br /><br />
        @foreach (SelectListItem item in ViewBag.BreakfastTypes)
        {
            //Det her skal laves om
            @Html.CheckBox("menuitem", new { value = item.Value }) @item.Text
            <br />
        }
    </p>

    <p>When: <input type="date" id="time" name="time" /></p>

    <p>
        <input type="submit" value="Order" />
    </p>
}

